
img{
    margin-left: 60px;
    margin-top: 20px;
    width: 70%;
    max-height:150px;

}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 30px;
}

.custom-card{
    margin-bottom: 60px;
}
