
    <div class="container">

        <div class="custom-card">
            <p-card header="Movimientos" styleClass="shadow-5"  subheader="Visualizacion de movimientos" [style]="{ width: '280px', margin:'20px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/svg/movimientos.svg" />
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Ver movimientos" class="w-full" styleClass="w-full" (onClick)="showMovimientos()" />
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="custom-card">
            <p-card header="Gestión de usuarios" styleClass="shadow-5" subheader="Mantenimiento de usuarios" [style]="{ width: '280px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" class="mb-3" src="assets/svg/login.svg" />
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Gestión" class="w-full" styleClass="w-full" (onClick)="showGestionUsers() " />
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="custom-card">
            <p-card header="Gestión de pedidos" styleClass="shadow-5" subheader="Control de pedidos entrantes" [style]="{ width: '280px'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/svg/pedidos.svg" />
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="flex gap-2 mt-1">
                        <p-button label="Gestión" class="w-full" styleClass="w-full" (onClick)="showControlPedidos()"/>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="custom-card">
            <p-card header="Reportes" styleClass="shadow-5" subheader="Reportes de errores" [style]="{ width: '280px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/svg/reports.svg" />
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Gestión" class="w-full" styleClass="w-full" (onClick)="showErrors()"/>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="">
            <p-card header="Sincronizar bases de datos" styleClass="shadow-5" subheader="Sincronización con BBDD" [style]="{ width: '280px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/svg/sync.svg" />
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="flex gap-2 mt-1">
                        <p-button label="Gestión" class="w-full" styleClass="w-full" (onClick)="syncBBDD()" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>


<p-dialog header="{{titleForm}}" [modal]="true" [style]="{ width: '80%' }" maximizable="true" [(visible)]="bDisplay"  appendTo="body" (onHide)="closeAll()">
    @if(showMov) {
        <app-movimientos></app-movimientos>
    }@else if(showGestion){
        <app-users (eventRes)="getEmitterUser($event)"></app-users>
    }@else if(showControl){
        <app-gestion-pedidos></app-gestion-pedidos>
    }@else if(showLogError){
        <app-error-log></app-error-log>
    }@else if(showSync){
        <app-sync></app-sync>
    }@else{
        <h1>Nada que mostrar</h1>
    }
</p-dialog>
<p-toast></p-toast>
