img {
  margin-left: 60px;
  margin-top: 20px;
  width: 70%;
  max-height: 125px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 20px;
  max-height: 25px;
}

.custom-card {
  margin-bottom: 60px;
}

.submit {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.seleccion-item{
  display: flex;
  justify-content: center;
}

.table{
  display: flex;
  justify-content: center;
}
