<div class="container">
  <div class="custom-card">
    <p-card
      header="Movimientos"
      styleClass="shadow-5"
      subheader="Visualizacion de movimientos"
      [style]="{ width: '280px', margin: '20px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/svg/movimientos.svg" />
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button
            label="Ver movimientos"
            class="w-full"
            styleClass="w-full"
            (onClick)="showMovimientos()"
          />
        </div>
      </ng-template>
    </p-card>
  </div>
  <div class="custom-card">
    <p-card
      header="Gestión de usuarios"
      styleClass="shadow-5"
      subheader="Mantenimiento de usuarios"
      [style]="{ width: '280px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" class="mb-3" src="assets/svg/login.svg" />
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button
            label="Gestión"
            class="w-full"
            styleClass="w-full"
            (onClick)="showGestionUsers()"
          />
        </div>
      </ng-template>
    </p-card>
  </div>
  <div class="custom-card">
    <p-card
      header="Gestión de pedidos"
      styleClass="shadow-5"
      subheader="Control de pedidos entrantes"
      [style]="{ width: '280px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/svg/pedidos.svg" />
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="flex gap-2 mt-1">
          <p-button
            label="Gestión"
            class="w-full"
            styleClass="w-full"
            (onClick)="showControlPedidos()"
          />
        </div>
      </ng-template>
    </p-card>
  </div>
  <div class="custom-card">
    <p-card
      header="Reportes"
      styleClass="shadow-5"
      subheader="Reportes de errores"
      [style]="{ width: '280px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/svg/reports.svg" />
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button
            label="Gestión"
            class="w-full"
            styleClass="w-full"
            (onClick)="showErrors()"
          />
        </div>
      </ng-template>
    </p-card>
  </div>
  <div class="">
    <p-card
      header="Sincronizar bases de datos"
      styleClass="shadow-5"
      subheader="Sincronización con BBDD"
      [style]="{ width: '280px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/svg/sync.svg" />
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="flex gap-2 mt-1">
          <p-button
            label="Gestión"
            class="w-full"
            styleClass="w-full"
            (onClick)="syncBBDD()"
          />
        </div>
      </ng-template>
    </p-card>
  </div>
</div>

<p-dialog
  header="{{ titleForm }}"
  [modal]="true"
  [style]="{ width: '80%' }"
  maximizable="true"
  [(visible)]="bDisplay"
  appendTo="body"
  (onHide)="closeAll()"
>
  @if(showMov) {
  <app-movimientos></app-movimientos>
  }@else if(showControl){
  <app-gestion-pedidos
    (evenRes)="getEmitterGestion($event)"
  ></app-gestion-pedidos>
  }@else if(showLogError){
  <app-error-log></app-error-log>
  }@else if(showSync){
  <app-sync></app-sync>
  }@else{
  <h1>Nada que mostrar</h1>
  }
</p-dialog>

<p-dialog
  header="{{ titleForm }}"
  [modal]="true"
  [style]="{ width: '55%' }"
  maximizable="true"
  [(visible)]="showGestion"
  appendTo="body"
  (onHide)="closeAll()"
>
  @if(showGestion) {
  <app-users (eventRes)="getEmitterUser($event)"></app-users>
  }
</p-dialog>
<p-toast></p-toast>



<!-- Dialog para dar de alta un nuevo pedido y todos sus items. -->
<p-dialog
  header="Crear un nuevo pedido"
  [modal]="true"
  [(visible)]="showAddpedido"
  [style]="{ width: '80rem', height: '100%' }"
  [maximizable]="true"
>
  <div class="m-5">
    <form [formGroup]="formPedidos" >
      <div class="formgroup-inline">
        <div class="field">
          <p-dropdown
            formControlName="tienda"
            [options]="tiendas"
            optionLabel="name"
            placeholder="Tienda"
            (onChange)="onTiendaClick($event)"
          />
        </div>

        <div class="field">
          <p-floatLabel>
            <input #codPedidoInput pInputText id="cod_pedido" [disabled]="botonDisabled" [(value)]="sCodPedido"/>
            <label for="cod_pedido">Cód. Pedido</label>
          </p-floatLabel>
        </div>

        <div class="field">
          <p-dropdown
            formControlName="prioridad"
            [options]="prioridades"
            optionLabel="name"
            placeholder="Prioridad"
            [disabled]="true"
          />
        </div>
      </div>

      <h3>Seleccione los articulos a incluir en el pedido</h3>

      <div class="seleccion-item">
        <p-multiSelect 
          [options]="productos" 
          placeholder="Selección de artículo"
          optionLabel="denominacion_producto" 
          [filter]="true"
          [style]="{width:'400px'}"
          lazy="true"
          [resetFilterOnHide]="true"
          filterValue=""
          [autocomplete]="'on'"
          scrollHeight="300px"
          display="chip"
          formControlName="selectedProducts"
          (onChange)="onChangeSelector($event)"
          >
            <ng-template let-item pTemplate="group">
                <div class="flex align-items-center">
                    <span>{{ item.denominacion_producto }}</span>
                </div>
            </ng-template>
        </p-multiSelect>

      </div>
    </form>
  </div>

  @if (bDisplayTable) {
    <div class="table">
        <p-table [value]="productosOrder" 
                [styleClass]="'p-datatable-sm p-datatable-striped'"
                [resizableColumns]="true" 
                [scrollable]="true" 
                scrollHeight="400px"
                editMode="cell"
                columnResizeMode="expand" >
            <ng-template pTemplate="header">
                <tr>
                    <th>Producto</th>
                    <th>Codigo</th>
                    <th>Fabricante</th>
                    <th>Cantidad</th>
                    <th style="width:20%"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-editing="editing" let-product  let-ri="rowIndex">
              <tr [pEditableRow]="product">
                  <td>{{ product.denominacion_producto }}</td>
                  <td>{{ product.ean }}</td>
                  <td>{{ product.fabricante }}</td>
                  <td [pEditableColumn]="product.cantidad" pEditableColumnField="cantidad">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input 
                                pInputText type="text" 
                                [(ngModel)]="product.cantidad" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ product.cantidad  }}
                        </ng-template>
                    </p-cellEditor>
                  </td>
                    <div class="flex align-items-center justify-content-center gap-2">
                      <button 
                          *ngIf="!editing" 
                          pButton
                          pRipple 
                          type="button" 
                          icon="pi pi-times" 
                          (click)="eliminarFila(ri)" 
                          class="p-button-rounded p-button-text p-button-danger">
                      </button>
                    </div>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="submit">
      <p-button icon="pi pi-euro" class="ml-1" rounded="true"  pTooltip="Añadir pedido" tooltipPosition="left" severity="success" (onClick)="savePedido()"/>
    </div>
  }

</p-dialog>
<p-toast></p-toast>
