<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="/home">
    <img src="assets/images/baby.png" />
  </a>

  <button
    #menubutton
    [pTooltip]="notIniciado ? 'Inicia la jornada laboral para mostrar el menú de gestión' : ''" 
    showDelay="1000" 
    hideDelay="300" 
    [disabled]="notIniciado"
    class="p-link layout-menu-button layout-topbar-button"
    (click)="getSideBar($event)"
  >
    <i class="pi pi-bars"></i>
  </button>

  <button
    #topbarmenubutton
    class="p-link layout-topbar-menu-button layout-topbar-button"
  >
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div #topbarmenu class="layout-topbar-menu">

    <button class="p-link layout-topbar-button" (click)="fichar($event)"  [pTooltip]="notIniciado ? 'Inicio de jornada' : 'Fin de jornada'" 
    showDelay="1000" >
      <i class="pi pi-clock"></i>
      <span>Profile</span>
    </button>
  </div>
</div>

<p-toast />
<p-confirmDialog />
