@if(productos.length > 0){
<div class="card">
  <p-dataView #dv [value]="productos" [rows]="5" [paginator]="true">
    <ng-template pTemplate="list" let-products>
      <div class="grid grid-nogutter">
        <div
          class="col-12"
          *ngFor="let item of products; let first = first"
          [ngClass]="{ 'border-top-1 surface-border': !first, 'no-stock': item.producto.stock === 0 }"
        >
          <div
            class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3"
            [ngClass]="{ 'border-top-1 surface-border': !first }"
          >
            <div class="md:w-10rem relative">
              <!-- IMAGEN DE CARRITO -->
              <img
                class="block xl:block mx-auto border-round img-carrito"
                src="assets/images/carrito-de-compras.png"
                alt="producto"
              />
            </div>
            <div
              class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4"
            >
              <div
                class="flex flex-row md:flex-column justify-content-between align-items-start gap-2"
              >
                <div>
                  <span class="font-medium text-secondary text-sm">{{
                    item.producto.denominacion_producto
                  }}</span>
                </div>
                <div>
                  <span class="font-medium text-secondary font-bold text-sm">
                    Código interno {{item.producto.ean}}</span>
                </div>
                <div>
                  <span class="font-medium text-secondary font-bold text-sm">
                    Stock disponible {{item.producto.stock}}</span>
                </div>
                <!-- PONER LA UBICACION DEL PRODUCTO -->
                @if (item.producto.ubicacion) {
                  <div>
                    <span class="font-medium text-secondary text-sm"> Ubicacion: 
                      Zona {{ item.producto.ubicacion.zona}} -
                      Pasillo {{ item.producto.ubicacion.pasillo}} -
                      Altura {{ item.producto.ubicacion.altura }}
                    </span>
                  </div>
                }
              </div>
              <div class="flex flex-column md:align-items-end gap-2">
                <span class="text-xl text-600">
                  Cantidad: {{ item.cantidad }}</span>
                  @if (item.cantidad > item.producto.stock) {
                    <p-inputNumber 
                        [inputStyle]="{'width':'50px'}"
                        [showButtons]="true" 
                        [(ngModel)]="inputValue"
                        buttonLayout="horizontal" 
                        inputId="horizontal" 
                        spinnerMode="horizontal" 
                        [step]="1"
                        [disabled]="addedProducts[item.id_fk_producto]"
                        [max]="item.producto.stock"
                        incrementButtonIcon="pi pi-plus" 
                        decrementButtonIcon="pi pi-minus"/>
                  }
                  
                <div class="flex flex-row-reverse md:flex-row gap-2">
                  @if (item.producto.stock === 0 || item.cantidad > item.producto.stock) {
                    <p-button pTooltip="No existe stock suficiente. Informar del error al administrador." showDelay="1000" hideDelay="300" 
                    icon="pi pi-info" [outlined]="true" severity="danger"
                    [disabled]="productoError.includes(item.id_fk_producto)"
                    (onClick)="errorOrder(item)"/>
                  }
                  @if (!addedProducts[item.id_fk_producto]) {
                    <p-button
                    icon="pi pi-shopping-cart"
                    class="flex-auto md:flex-initial white-space-nowrap"
                    label="Añadir"
                    [disabled]="item.producto.stock == 0"
                    (onClick)="addProductOrder(item)"
                  />
                  }
                  @if (addedProducts[item.id_fk_producto]) {
                    <p-button
                    icon="pi pi-check" [rounded]="true"
                    severity="success"
                    class="flex-auto md:flex-initial white-space-nowrap"
                    disabled="true"
                  />
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </p-dataView>

</div>

<p-button icon="pi pi-check" label="Finalizar pedido" 
          [rounded]="true" 
          severity="success" class="pedido-form" (onClick)="procesarPedido()"/>

}


<p-toast></p-toast>
<p-confirmDialog key="positionDialog"  position="bottom" />
