<div class="card">
  <p-table
    [columns]="cols"
    [value]="products"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th>Estado</th>
        <th style="width: 5rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
        <td><p-tag [value]="rowData.estado" [severity]="getEstado(rowData.estado)" /></td>
        @if(rowData.estado == 'Sin empezar'){
          <td>
            <button 
                type="button" 
                pButton 
                pRipple 
                icon="pi pi-user" 
                class="p-button-rounded p-button-text"
                (click)="confirm($event,rowData)">
            </button>
          </td>
        }
        
      </tr>
    </ng-template>
  </p-table>
</div>


<!-- Pop up que aparece cuando se quiere asignar un pedido a un usuario -->
<p-confirmPopup>
  <ng-template pTemplate="content" let-message>
    <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border p-3 mb-3">
        <p>{{ message.message }}</p>
          
        <p-dropdown 
          [options]="usuarios" 
          [(ngModel)]="usuarioSeleccionado" 
          optionLabel="name" 
          [style]="{'width': '100%'}"
          placeholder="Seleccione un usuario" />
      </div>
  </ng-template>
</p-confirmPopup>
<p-toast/>
